html {
  height: 100%
}

body {
  background-color: #cccccc;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
}

.title-graphic {
  background-image: url(title.png);
  background-repeat: no-repeat;
  float: right;
  position: relative;
  width: 615px;
  height: 56px;
}

.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5 {
  z-index: 1;
}

@media screen and (max-width: 840px) {
  .title-graphic {
    display: none;
  }
}

.search-results-panel {
  flex: 1;
  text-align: center;
  min-height: 200px;
  margin-bottom: 0;
}

.search-results--scroll-container {
  flex: 1;
}

@media screen and (min-height: 600px) {
  .search-results--scroll-container {
    overflow-y: scroll;
  }
}

.search-results--header-row {
  background-color: #a0b050;
  text-align: left;
}

.letsFindText {
  color: #eeeeee;
  font-size: 24px;
  line-height: 200px;
}

.clear-float {
  clear: both;
}

.footer {
  margin: 5px;
  background-color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

@media screen and (max-width: 480px) {
  .footer-long-text {
    display: none;
  }
  .footer-short-text {
    display: inline;
  }
}
@media screen and (min-width: 481px) {
  .footer-long-text {
    display: inline;
  }
  .footer-short-text {
    display: none;
  }
}

.footer-logo {
  float: right;
  background-image: url('seespace-logo.png');
  width: 80px;
  height: 30px;
  background-size: 80px 30px;
  flex-basis: auto;
}
