body {
  background-color: #cccccc;
}

.title-graphic {
  background-image: url(title.png);
  background-repeat: no-repeat;
  float: right;
  position: relative;
  width: 615px;
  height: 56px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
}

@media screen and (max-width: 840px) {
  .title-graphic {
    display: none;
  }
}

.search-results--header-row {
  background-color: #a0b050;
  text-align: left;
}

.clear-float {
  clear: both;
}

.footer {
  margin: 5px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 480px) {
  .footer-long-text {
    display: none;
  }
  .footer-short-text {
    display: inline;
  }
}
@media screen and (min-width: 481px) {
  .footer-long-text {
    display: inline;
  }
  .footer-short-text {
    display: none;
  }
}

.footer-logo {
  float: right;
  background-image: url('seespace-logo.png');
  width: 80px;
  height: 30px;
  background-size: 80px 30px;
  position: relative;
  top: -5px;
  left: 5px;
}

.letsFindText {
  color: #eeeeee;
  font-size: 24px;
  line-height: 200px;
}

.search-results-panel {
  text-align: center;
  min-height: 200px;
}
